common --announce_rc

try-import .bazelrc.local

# Build specific options
build --color=yes
build --verbose_failures
build --host_javabase=@local_jdk//:jdk

# Test specific options
test --test_output=errors
test --action_env="GTEST_COLOR=1"
test --verbose_failures

# linux_x86_64/gcc
build:linux_x86_64/gcc --cpu="linux_x86_64"
build:linux_x86_64/gcc --compiler="gcc"
build:linux_x86_64/gcc --crosstool_top=//tools/bazel:cc_toolchain_suite

# linux_x86_64/clang
build:linux_x86_64/clang --cpu="linux_x86_64"
build:linux_x86_64/clang --compiler="clang"
build:linux_x86_64/clang --platforms="//tools/bazel/targets:linux_x86_64"
build:linux_x86_64/clang --crosstool_top=@linux_x86_64_clang//:cc_toolchain_suite
build:linux_x86_64/clang --host_cpu="linux_x86_64"
build:linux_x86_64/clang --host_platform=//tools/bazel/targets:linux_x86_64
build:linux_x86_64/clang --host_crosstool_top=@linux_x86_64_clang//:cc_toolchain_suite

# linux_x86_64/clang (can be used with suport of "C++ rules use platforms")
#build:linux_x86_64/clang --platforms="//tools/bazel/targets:linux_x86_64"
#build:linux_x86_64/clang --compiler="clang"
