# Git directory
.git/

# C/C++
*.o
*.d

# Python
__pycache__/
*.pyc
.mypy_cache/

# Bazel
bazel-*
.bazelrc.local
!/tools/**/.bazelrc.local
MODULE.bazel.lock

# Editors
.vscode/

# Backup/temporary files
*~
*.bkp

# Eagle
*.l#*
*.d#*
*.b#*
*.s#*

# OpenSCAD
*.stl

# Generated in CI
bin/

# Build directory for generating esp32_xtensa_lx6_sdk
toolchains/cc/fragments/esp32_xtensa_lx6_sdk/build/project/build/
toolchains/cc/fragments/esp32_xtensa_lx6_sdk/build/project/sdkconfig
