# Git directory
.git/

# C/C++
*.o
*.d
compile_commands.json

# Python
__pycache__/
*.pyc
.mypy_cache/

# Bazel
bazel-*
.bazelrc.local
!/tools/**/.bazelrc.local
MODULE.bazel.lock

# Editors
.vscode/

# Backup/temporary files
*~
~*
*.bkp

# Eagle
*.l#*
*.d#*
*.b#*
*.s#*

# OpenSCAD
*.stl

# ESP-IDF
esp-idf/

# Generated in CI
bin/
dist/
