# Git directory
.git/

# C/C++
*.o
*.d

# Python
__pycache__/
*.pyc
.mypy_cache/

# Bazel
bazel-*
.bazelrc.local
!/tools/**/.bazelrc.local

# Editors
.vscode/

# Backup/temporary files
*~

# Eagle
*.l#*
*.d#*
*.b#*
*.s#*
