[submodule "docs/private"]
	path = docs/private
	url = https://git.blaizard.com/blaise/docs.git
	branch = master
[submodule "apps/family"]
	path = apps/family
	url = https://git.blaizard.com/blaise/family.git
