{
	"name": "{name}",
	"version": "1.0.0",
	"license": "UNLICENSED",
	"private": true,
	"dependencies": {
		{dependencies}
	},
	"scripts": {
		"webpack": "node --preserve-symlinks --preserve-symlinks-main ./node_modules/webpack/bin/webpack.js --mode=production --config webpack.config.js"
	}
}
