process.chdir(__dirname);

const Path = require("path");
const Webpack = require("./nodejs/webpack.cjs");

const config = {
	mode: "{mode}",
	entries: {
		{entries}
	},
	publicPath: "{public_path}",
	alias: {
		{aliases}
	},
	templates: {
		{templates}
	}
};

module.exports = Webpack.generate(config);
