#!/usr/bin/env bash
set -e
SCRIPT_DIRECTORY_PATH="$( cd -- "$(dirname "$0")" >/dev/null 2>&1 ; pwd -P )"
export RUNFILES_DIR="$SCRIPT_DIRECTORY_PATH/{runfiles_directory}"
cd "$RUNFILES_DIR/{workspace_name}"
exec "{executable}" "$@"
