@use "@/config.scss" as *;

// For vite (also note that the extension .module.scss is necessary, see "CSS modules" with vite).
:export {
	red: $bzdGraphColorRed;
	blue: $bzdGraphColorBlue;
	orange: $bzdGraphColorOrange;
	green: $bzdGraphColorGreen;
	yellow: $bzdGraphColorYellow;
	gray: $bzdGraphColorGray;
	violet: $bzdGraphColorViolet;
	pink: $bzdGraphColorPink;
	cyan: $bzdGraphColorCyan;
	brown: $bzdGraphColorBrown;
	black: $bzdGraphColorBlack;
	white: $bzdGraphColorWhite;
}
