// List of 12 basic colors
$bzdGraphColorRed: #ff6347;
$bzdGraphColorBlue: #3498db;
$bzdGraphColorOrange: #f39c12;
$bzdGraphColorGreen: #2ecc71;
$bzdGraphColorYellow: #f4d03f;
$bzdGraphColorGray: #707b7c;
$bzdGraphColorViolet: #ba55d3;
$bzdGraphColorPink: #ffb6c1;
$bzdGraphColorCyan: #009696;
$bzdGraphColorBrown: #7a5c58;
$bzdGraphColorBlack: #333333;
$bzdGraphColorWhite: #ffffff;

// For vite (also note that the extension .module.scss is necessary, see "CSS modules" with vite).
:export {
	red: $bzdGraphColorRed;
	blue: $bzdGraphColorBlue;
	orange: $bzdGraphColorOrange;
	green: $bzdGraphColorGreen;
	yellow: $bzdGraphColorYellow;
	gray: $bzdGraphColorGray;
	violet: $bzdGraphColorViolet;
	pink: $bzdGraphColorPink;
	cyan: $bzdGraphColorCyan;
	brown: $bzdGraphColorBrown;
	black: $bzdGraphColorBlack;
	white: $bzdGraphColorWhite;
}
