@use "#bzd/config.scss" as config;

.irtooltip {
	z-index: 99999;

	.irtooltip-text {
		position: relative;

		background-color: config.$bzdGraphColorBlack;
		color: config.$bzdGraphColorWhite;
		font-weight: bold;
		padding: 5px 10px;

		&:after {
			position: absolute;
			content: " ";
			width: 0;
			height: 0;
			border-width: 10px;
			border-style: solid;
		}
	}
}

.irtooltip-e {
	.irtooltip-text {
		margin-left: 12px;
		&:after {
			top: calc(50% - 10px);
			left: -20px;
			border-color: transparent config.$bzdGraphColorBlack transparent transparent;
		}
	}
}

.irtooltip-s {
	.irtooltip-text {
		margin-top: 12px;
		&:after {
			top: -20px;
			left: calc(50% - 10px);
			border-color: transparent transparent config.$bzdGraphColorBlack transparent;
		}
	}
}

.irtooltip-w {
	.irtooltip-text {
		margin-left: -12px;
		&:after {
			top: calc(50% - 10px);
			right: -20px;
			border-color: transparent transparent transparent config.$bzdGraphColorBlack;
		}
	}
}

.irtooltip-n {
	.irtooltip-text {
		margin-top: -12px;
		&:after {
			bottom: -20px;
			left: calc(50% - 10px);
			border-color: config.$bzdGraphColorBlack transparent transparent transparent;
		}
	}
}
