@import "~[bzd-style]/css/colors.scss";

.irtooltip {
	z-index: 99999;

	.irtooltip-text {
		position: relative;

		background-color: $bzdGraphColorBlack;
		color: $bzdGraphColorWhite;
		font-weight: bold;
		padding: 5px 10px;

		&:after {
			position: absolute;
			content: " ";
			width: 0; 
			height: 0;
			border-width: 10px;
			border-style: solid;
		}
	}
}

.irtooltip-e {
	.irtooltip-text {
		margin-left: 12px;
		&:after {
			top: calc(50% - 10px);
			left: -20px;
			border-color: transparent $bzdGraphColorBlack transparent transparent;
		}
	}
}

.irtooltip-s {
	.irtooltip-text {
		margin-top: 12px;
		&:after {
			top: -20px;
			left: calc(50% - 10px);
			border-color: transparent transparent $bzdGraphColorBlack transparent;
		}
	}
}

.irtooltip-w {
	.irtooltip-text {
		margin-left: -12px;
		&:after {
			top: calc(50% - 10px);
			right: -20px;
			border-color: transparent transparent transparent $bzdGraphColorBlack;
		}
	}
}

.irtooltip-n {
	.irtooltip-text {
		margin-top: -12px;
		&:after {
			bottom: -20px;
			left: calc(50% - 10px);
			border-color: $bzdGraphColorBlack transparent transparent transparent;
		}
	}
}
