*[class^="bzd-flag-"] {
	display: inline-block;
	content: "";
	vertical-align: middle;
	background: url(~bzd/international/flags_48x32.png) no-repeat left top;
	width: 48px;
	height: 32px;
}
.bzd-flag-ad {
	background-position: -0px -0px;
}
.bzd-flag-ae {
	background-position: -48px -0px;
}
.bzd-flag-af {
	background-position: -96px -0px;
}
.bzd-flag-ag {
	background-position: -144px -0px;
}
.bzd-flag-ai {
	background-position: -192px -0px;
}
.bzd-flag-al {
	background-position: -240px -0px;
}
.bzd-flag-am {
	background-position: -288px -0px;
}
.bzd-flag-ao {
	background-position: -336px -0px;
}
.bzd-flag-aq {
	background-position: -384px -0px;
}
.bzd-flag-ar {
	background-position: -432px -0px;
}
.bzd-flag-as {
	background-position: -480px -0px;
}
.bzd-flag-at {
	background-position: -528px -0px;
}
.bzd-flag-au {
	background-position: -576px -0px;
}
.bzd-flag-aw {
	background-position: -624px -0px;
}
.bzd-flag-ax {
	background-position: -672px -0px;
}
.bzd-flag-az {
	background-position: -720px -0px;
}
.bzd-flag-ba {
	background-position: -0px -32px;
}
.bzd-flag-bb {
	background-position: -48px -32px;
}
.bzd-flag-bd {
	background-position: -96px -32px;
}
.bzd-flag-be {
	background-position: -144px -32px;
}
.bzd-flag-bf {
	background-position: -192px -32px;
}
.bzd-flag-bg {
	background-position: -240px -32px;
}
.bzd-flag-bh {
	background-position: -288px -32px;
}
.bzd-flag-bi {
	background-position: -336px -32px;
}
.bzd-flag-bj {
	background-position: -384px -32px;
}
.bzd-flag-bl {
	background-position: -432px -32px;
}
.bzd-flag-bm {
	background-position: -480px -32px;
}
.bzd-flag-bn {
	background-position: -528px -32px;
}
.bzd-flag-bo {
	background-position: -576px -32px;
}
.bzd-flag-bq {
	background-position: -624px -32px;
}
.bzd-flag-br {
	background-position: -672px -32px;
}
.bzd-flag-bs {
	background-position: -720px -32px;
}
.bzd-flag-bt {
	background-position: -0px -64px;
}
.bzd-flag-bv {
	background-position: -48px -64px;
}
.bzd-flag-bw {
	background-position: -96px -64px;
}
.bzd-flag-by {
	background-position: -144px -64px;
}
.bzd-flag-ca {
	background-position: -240px -64px;
}
.bzd-flag-cc {
	background-position: -288px -64px;
}
.bzd-flag-cd {
	background-position: -336px -64px;
}
.bzd-flag-cf {
	background-position: -384px -64px;
}
.bzd-flag-cg {
	background-position: -432px -64px;
}
.bzd-flag-ch {
	background-position: -480px -64px;
}
.bzd-flag-ci {
	background-position: -528px -64px;
}
.bzd-flag-ck {
	background-position: -576px -64px;
}
.bzd-flag-cl {
	background-position: -624px -64px;
}
.bzd-flag-cm {
	background-position: -672px -64px;
}
.bzd-flag-cn {
	background-position: -720px -64px;
}
.bzd-flag-co {
	background-position: -0px -96px;
}
.bzd-flag-cr {
	background-position: -48px -96px;
}
.bzd-flag-cu {
	background-position: -96px -96px;
}
.bzd-flag-cv {
	background-position: -144px -96px;
}
.bzd-flag-cw {
	background-position: -192px -96px;
}
.bzd-flag-cx {
	background-position: -240px -96px;
}
.bzd-flag-cy {
	background-position: -288px -96px;
}
.bzd-flag-cz {
	background-position: -336px -96px;
}
.bzd-flag-de {
	background-position: -384px -96px;
}
.bzd-flag-dj {
	background-position: -432px -96px;
}
.bzd-flag-dk {
	background-position: -480px -96px;
}
.bzd-flag-dm {
	background-position: -528px -96px;
}
.bzd-flag-do {
	background-position: -576px -96px;
}
.bzd-flag-dz {
	background-position: -624px -96px;
}
.bzd-flag-ec {
	background-position: -672px -96px;
}
.bzd-flag-ee {
	background-position: -720px -96px;
}
.bzd-flag-eg {
	background-position: -0px -128px;
}
.bzd-flag-eh {
	background-position: -48px -128px;
}
.bzd-flag-er {
	background-position: -96px -128px;
}
.bzd-flag-es {
	background-position: -144px -128px;
}
.bzd-flag-et {
	background-position: -192px -128px;
}
.bzd-flag-fi {
	background-position: -240px -128px;
}
.bzd-flag-fj {
	background-position: -288px -128px;
}
.bzd-flag-fm {
	background-position: -384px -128px;
}
.bzd-flag-fo {
	background-position: -432px -128px;
}
.bzd-flag-fr {
	background-position: -480px -128px;
}
.bzd-flag-ga {
	background-position: -528px -128px;
}
.bzd-flag-gb {
	background-position: -576px -128px;
}
.bzd-flag-gd {
	background-position: -624px -128px;
}
.bzd-flag-ge {
	background-position: -672px -128px;
}
.bzd-flag-gf {
	background-position: -720px -128px;
}
.bzd-flag-gg {
	background-position: -0px -160px;
}
.bzd-flag-gh {
	background-position: -48px -160px;
}
.bzd-flag-gi {
	background-position: -96px -160px;
}
.bzd-flag-gl {
	background-position: -144px -160px;
}
.bzd-flag-gm {
	background-position: -192px -160px;
}
.bzd-flag-gn {
	background-position: -240px -160px;
}
.bzd-flag-gp {
	background-position: -288px -160px;
}
.bzd-flag-gq {
	background-position: -336px -160px;
}
.bzd-flag-gr {
	background-position: -384px -160px;
}
.bzd-flag-gu {
	background-position: -528px -160px;
}
.bzd-flag-gw {
	background-position: -576px -160px;
}
.bzd-flag-gy {
	background-position: -624px -160px;
}
.bzd-flag-hk {
	background-position: -672px -160px;
}
.bzd-flag-hm {
	background-position: -720px -160px;
}
.bzd-flag-hn {
	background-position: -0px -192px;
}
.bzd-flag-hr {
	background-position: -48px -192px;
}
.bzd-flag-ht {
	background-position: -96px -192px;
}
.bzd-flag-hu {
	background-position: -144px -192px;
}
.bzd-flag-id {
	background-position: -192px -192px;
}
.bzd-flag-ie {
	background-position: -240px -192px;
}
.bzd-flag-il {
	background-position: -288px -192px;
}
.bzd-flag-im {
	background-position: -336px -192px;
}
.bzd-flag-in {
	background-position: -384px -192px;
}
.bzd-flag-io {
	background-position: -432px -192px;
}
.bzd-flag-iq {
	background-position: -480px -192px;
}
.bzd-flag-ir {
	background-position: -528px -192px;
}
.bzd-flag-is {
	background-position: -576px -192px;
}
.bzd-flag-it {
	background-position: -624px -192px;
}
.bzd-flag-je {
	background-position: -672px -192px;
}
.bzd-flag-jm {
	background-position: -720px -192px;
}
.bzd-flag-jo {
	background-position: -0px -224px;
}
.bzd-flag-jp {
	background-position: -48px -224px;
}
.bzd-flag-ke {
	background-position: -96px -224px;
}
.bzd-flag-kg {
	background-position: -144px -224px;
}
.bzd-flag-kh {
	background-position: -192px -224px;
}
.bzd-flag-ki {
	background-position: -240px -224px;
}
.bzd-flag-km {
	background-position: -288px -224px;
}
.bzd-flag-kn {
	background-position: -336px -224px;
}
.bzd-flag-kp {
	background-position: -384px -224px;
}
.bzd-flag-kr {
	background-position: -432px -224px;
}
.bzd-flag-kw {
	background-position: -480px -224px;
}
.bzd-flag-ky {
	background-position: -528px -224px;
}
.bzd-flag-kz {
	background-position: -576px -224px;
}
.bzd-flag-la {
	background-position: -624px -224px;
}
.bzd-flag-lb {
	background-position: -672px -224px;
}
.bzd-flag-lc {
	background-position: -720px -224px;
}
.bzd-flag-li {
	background-position: -0px -256px;
}
.bzd-flag-lk {
	background-position: -48px -256px;
}
.bzd-flag-lr {
	background-position: -96px -256px;
}
.bzd-flag-ls {
	background-position: -144px -256px;
}
.bzd-flag-lt {
	background-position: -192px -256px;
}
.bzd-flag-lu {
	background-position: -240px -256px;
}
.bzd-flag-lv {
	background-position: -288px -256px;
}
.bzd-flag-ly {
	background-position: -336px -256px;
}
.bzd-flag-ma {
	background-position: -384px -256px;
}
.bzd-flag-mc {
	background-position: -432px -256px;
}
.bzd-flag-md {
	background-position: -480px -256px;
}
.bzd-flag-me {
	background-position: -528px -256px;
}
.bzd-flag-mf {
	background-position: -576px -256px;
}
.bzd-flag-mg {
	background-position: -624px -256px;
}
.bzd-flag-mh {
	background-position: -672px -256px;
}
.bzd-flag-mk {
	background-position: -720px -256px;
}
.bzd-flag-ml {
	background-position: -0px -288px;
}
.bzd-flag-mm {
	background-position: -48px -288px;
}
.bzd-flag-mn {
	background-position: -96px -288px;
}
.bzd-flag-mo {
	background-position: -144px -288px;
}
.bzd-flag-mp {
	background-position: -192px -288px;
}
.bzd-flag-mq {
	background-position: -240px -288px;
}
.bzd-flag-mr {
	background-position: -288px -288px;
}
.bzd-flag-ms {
	background-position: -336px -288px;
}
.bzd-flag-mt {
	background-position: -384px -288px;
}
.bzd-flag-mu {
	background-position: -432px -288px;
}
.bzd-flag-mv {
	background-position: -480px -288px;
}
.bzd-flag-mw {
	background-position: -528px -288px;
}
.bzd-flag-my {
	background-position: -624px -288px;
}
.bzd-flag-mz {
	background-position: -672px -288px;
}
.bzd-flag-na {
	background-position: -720px -288px;
}
.bzd-flag-nc {
	background-position: -0px -320px;
}
.bzd-flag-ne {
	background-position: -48px -320px;
}
.bzd-flag-nf {
	background-position: -96px -320px;
}
.bzd-flag-ng {
	background-position: -144px -320px;
}
.bzd-flag-nl {
	background-position: -240px -320px;
}
.bzd-flag-no {
	background-position: -288px -320px;
}
.bzd-flag-np {
	background-position: -336px -320px;
}
.bzd-flag-nr {
	background-position: -384px -320px;
}
.bzd-flag-nu {
	background-position: -432px -320px;
}
.bzd-flag-nz {
	background-position: -480px -320px;
}
.bzd-flag-om {
	background-position: -528px -320px;
}
.bzd-flag-pa {
	background-position: -576px -320px;
}
.bzd-flag-pe {
	background-position: -624px -320px;
}
.bzd-flag-pf {
	background-position: -672px -320px;
}
.bzd-flag-pg {
	background-position: -720px -320px;
}
.bzd-flag-ph {
	background-position: -0px -352px;
}
.bzd-flag-pk {
	background-position: -48px -352px;
}
.bzd-flag-pl {
	background-position: -96px -352px;
}
.bzd-flag-pm {
	background-position: -144px -352px;
}
.bzd-flag-pn {
	background-position: -192px -352px;
}
.bzd-flag-pr {
	background-position: -240px -352px;
}
.bzd-flag-ps {
	background-position: -288px -352px;
}
.bzd-flag-pt {
	background-position: -336px -352px;
}
.bzd-flag-pw {
	background-position: -384px -352px;
}
.bzd-flag-py {
	background-position: -432px -352px;
}
.bzd-flag-qa {
	background-position: -480px -352px;
}
.bzd-flag-re {
	background-position: -528px -352px;
}
.bzd-flag-ro {
	background-position: -576px -352px;
}
.bzd-flag-rs {
	background-position: -624px -352px;
}
.bzd-flag-ru {
	background-position: -672px -352px;
}
.bzd-flag-rw {
	background-position: -720px -352px;
}
.bzd-flag-sa {
	background-position: -0px -384px;
}
.bzd-flag-sb {
	background-position: -48px -384px;
}
.bzd-flag-sc {
	background-position: -96px -384px;
}
.bzd-flag-sd {
	background-position: -144px -384px;
}
.bzd-flag-se {
	background-position: -192px -384px;
}
.bzd-flag-sg {
	background-position: -240px -384px;
}
.bzd-flag-sh {
	background-position: -288px -384px;
}
.bzd-flag-si {
	background-position: -336px -384px;
}
.bzd-flag-sj {
	background-position: -384px -384px;
}
.bzd-flag-sk {
	background-position: -432px -384px;
}
.bzd-flag-sl {
	background-position: -480px -384px;
}
.bzd-flag-sm {
	background-position: -528px -384px;
}
.bzd-flag-sn {
	background-position: -576px -384px;
}
.bzd-flag-so {
	background-position: -624px -384px;
}
.bzd-flag-sr {
	background-position: -672px -384px;
}
.bzd-flag-ss {
	background-position: -720px -384px;
}
.bzd-flag-st {
	background-position: -0px -416px;
}
.bzd-flag-sv {
	background-position: -48px -416px;
}
.bzd-flag-sx {
	background-position: -96px -416px;
}
.bzd-flag-sy {
	background-position: -144px -416px;
}
.bzd-flag-sz {
	background-position: -192px -416px;
}
.bzd-flag-tc {
	background-position: -240px -416px;
}
.bzd-flag-td {
	background-position: -288px -416px;
}
.bzd-flag-tf {
	background-position: -336px -416px;
}
.bzd-flag-tg {
	background-position: -384px -416px;
}
.bzd-flag-th {
	background-position: -432px -416px;
}
.bzd-flag-tj {
	background-position: -480px -416px;
}
.bzd-flag-tk {
	background-position: -528px -416px;
}
.bzd-flag-tl {
	background-position: -576px -416px;
}
.bzd-flag-tm {
	background-position: -624px -416px;
}
.bzd-flag-tn {
	background-position: -672px -416px;
}
.bzd-flag-to {
	background-position: -720px -416px;
}
.bzd-flag-tr {
	background-position: -0px -448px;
}
.bzd-flag-tt {
	background-position: -48px -448px;
}
.bzd-flag-tv {
	background-position: -96px -448px;
}
.bzd-flag-tw {
	background-position: -144px -448px;
}
.bzd-flag-tz {
	background-position: -192px -448px;
}
.bzd-flag-ua {
	background-position: -240px -448px;
}
.bzd-flag-ug {
	background-position: -288px -448px;
}
.bzd-flag-um {
	background-position: -336px -448px;
}
.bzd-flag-us {
	background-position: -384px -448px;
}
.bzd-flag-uy {
	background-position: -432px -448px;
}
.bzd-flag-uz {
	background-position: -480px -448px;
}
.bzd-flag-va {
	background-position: -528px -448px;
}
.bzd-flag-vc {
	background-position: -576px -448px;
}
.bzd-flag-ve {
	background-position: -624px -448px;
}
.bzd-flag-vi {
	background-position: -720px -448px;
}
.bzd-flag-vn {
	background-position: -0px -480px;
}
.bzd-flag-vu {
	background-position: -48px -480px;
}
.bzd-flag-wf {
	background-position: -96px -480px;
}
.bzd-flag-ws {
	background-position: -144px -480px;
}
.bzd-flag-ye {
	background-position: -192px -480px;
}
.bzd-flag-yt {
	background-position: -240px -480px;
}
.bzd-flag-za {
	background-position: -288px -480px;
}
.bzd-flag-zm {
	background-position: -336px -480px;
}
.bzd-flag-zw {
	background-position: -384px -480px;
}
