*[class^="bzd-flag-"] {
	display: inline-block;
	content: "";
	vertical-align: middle;
	background: url(~bzd/international/flags_32x24.png) no-repeat left top;
	width: 32px;
	height: 24px;
}
.bzd-flag-ad {
	background-position: -0px -0px;
}
.bzd-flag-ae {
	background-position: -32px -0px;
}
.bzd-flag-af {
	background-position: -64px -0px;
}
.bzd-flag-ag {
	background-position: -96px -0px;
}
.bzd-flag-ai {
	background-position: -128px -0px;
}
.bzd-flag-al {
	background-position: -160px -0px;
}
.bzd-flag-am {
	background-position: -192px -0px;
}
.bzd-flag-ao {
	background-position: -224px -0px;
}
.bzd-flag-aq {
	background-position: -256px -0px;
}
.bzd-flag-ar {
	background-position: -288px -0px;
}
.bzd-flag-as {
	background-position: -320px -0px;
}
.bzd-flag-at {
	background-position: -352px -0px;
}
.bzd-flag-au {
	background-position: -384px -0px;
}
.bzd-flag-aw {
	background-position: -416px -0px;
}
.bzd-flag-ax {
	background-position: -448px -0px;
}
.bzd-flag-az {
	background-position: -480px -0px;
}
.bzd-flag-ba {
	background-position: -0px -24px;
}
.bzd-flag-bb {
	background-position: -32px -24px;
}
.bzd-flag-bd {
	background-position: -64px -24px;
}
.bzd-flag-be {
	background-position: -96px -24px;
}
.bzd-flag-bf {
	background-position: -128px -24px;
}
.bzd-flag-bg {
	background-position: -160px -24px;
}
.bzd-flag-bh {
	background-position: -192px -24px;
}
.bzd-flag-bi {
	background-position: -224px -24px;
}
.bzd-flag-bj {
	background-position: -256px -24px;
}
.bzd-flag-bl {
	background-position: -288px -24px;
}
.bzd-flag-bm {
	background-position: -320px -24px;
}
.bzd-flag-bn {
	background-position: -352px -24px;
}
.bzd-flag-bo {
	background-position: -384px -24px;
}
.bzd-flag-bq {
	background-position: -416px -24px;
}
.bzd-flag-br {
	background-position: -448px -24px;
}
.bzd-flag-bs {
	background-position: -480px -24px;
}
.bzd-flag-bt {
	background-position: -0px -48px;
}
.bzd-flag-bv {
	background-position: -32px -48px;
}
.bzd-flag-bw {
	background-position: -64px -48px;
}
.bzd-flag-by {
	background-position: -96px -48px;
}
.bzd-flag-ca {
	background-position: -160px -48px;
}
.bzd-flag-cc {
	background-position: -192px -48px;
}
.bzd-flag-cd {
	background-position: -224px -48px;
}
.bzd-flag-cf {
	background-position: -256px -48px;
}
.bzd-flag-cg {
	background-position: -288px -48px;
}
.bzd-flag-ch {
	background-position: -320px -48px;
}
.bzd-flag-ci {
	background-position: -352px -48px;
}
.bzd-flag-ck {
	background-position: -384px -48px;
}
.bzd-flag-cl {
	background-position: -416px -48px;
}
.bzd-flag-cm {
	background-position: -448px -48px;
}
.bzd-flag-cn {
	background-position: -480px -48px;
}
.bzd-flag-co {
	background-position: -0px -72px;
}
.bzd-flag-cr {
	background-position: -32px -72px;
}
.bzd-flag-cu {
	background-position: -64px -72px;
}
.bzd-flag-cv {
	background-position: -96px -72px;
}
.bzd-flag-cw {
	background-position: -128px -72px;
}
.bzd-flag-cx {
	background-position: -160px -72px;
}
.bzd-flag-cy {
	background-position: -192px -72px;
}
.bzd-flag-cz {
	background-position: -224px -72px;
}
.bzd-flag-de {
	background-position: -256px -72px;
}
.bzd-flag-dj {
	background-position: -288px -72px;
}
.bzd-flag-dk {
	background-position: -320px -72px;
}
.bzd-flag-dm {
	background-position: -352px -72px;
}
.bzd-flag-do {
	background-position: -384px -72px;
}
.bzd-flag-dz {
	background-position: -416px -72px;
}
.bzd-flag-ec {
	background-position: -448px -72px;
}
.bzd-flag-ee {
	background-position: -480px -72px;
}
.bzd-flag-eg {
	background-position: -0px -96px;
}
.bzd-flag-eh {
	background-position: -32px -96px;
}
.bzd-flag-er {
	background-position: -64px -96px;
}
.bzd-flag-es {
	background-position: -96px -96px;
}
.bzd-flag-et {
	background-position: -128px -96px;
}
.bzd-flag-fi {
	background-position: -160px -96px;
}
.bzd-flag-fj {
	background-position: -192px -96px;
}
.bzd-flag-fm {
	background-position: -256px -96px;
}
.bzd-flag-fo {
	background-position: -288px -96px;
}
.bzd-flag-fr {
	background-position: -320px -96px;
}
.bzd-flag-ga {
	background-position: -352px -96px;
}
.bzd-flag-gb {
	background-position: -384px -96px;
}
.bzd-flag-gd {
	background-position: -416px -96px;
}
.bzd-flag-ge {
	background-position: -448px -96px;
}
.bzd-flag-gf {
	background-position: -480px -96px;
}
.bzd-flag-gg {
	background-position: -0px -120px;
}
.bzd-flag-gh {
	background-position: -32px -120px;
}
.bzd-flag-gi {
	background-position: -64px -120px;
}
.bzd-flag-gl {
	background-position: -96px -120px;
}
.bzd-flag-gm {
	background-position: -128px -120px;
}
.bzd-flag-gn {
	background-position: -160px -120px;
}
.bzd-flag-gp {
	background-position: -192px -120px;
}
.bzd-flag-gq {
	background-position: -224px -120px;
}
.bzd-flag-gr {
	background-position: -256px -120px;
}
.bzd-flag-gu {
	background-position: -352px -120px;
}
.bzd-flag-gw {
	background-position: -384px -120px;
}
.bzd-flag-gy {
	background-position: -416px -120px;
}
.bzd-flag-hk {
	background-position: -448px -120px;
}
.bzd-flag-hm {
	background-position: -480px -120px;
}
.bzd-flag-hn {
	background-position: -0px -144px;
}
.bzd-flag-hr {
	background-position: -32px -144px;
}
.bzd-flag-ht {
	background-position: -64px -144px;
}
.bzd-flag-hu {
	background-position: -96px -144px;
}
.bzd-flag-id {
	background-position: -128px -144px;
}
.bzd-flag-ie {
	background-position: -160px -144px;
}
.bzd-flag-il {
	background-position: -192px -144px;
}
.bzd-flag-im {
	background-position: -224px -144px;
}
.bzd-flag-in {
	background-position: -256px -144px;
}
.bzd-flag-io {
	background-position: -288px -144px;
}
.bzd-flag-iq {
	background-position: -320px -144px;
}
.bzd-flag-ir {
	background-position: -352px -144px;
}
.bzd-flag-is {
	background-position: -384px -144px;
}
.bzd-flag-it {
	background-position: -416px -144px;
}
.bzd-flag-je {
	background-position: -448px -144px;
}
.bzd-flag-jm {
	background-position: -480px -144px;
}
.bzd-flag-jo {
	background-position: -0px -168px;
}
.bzd-flag-jp {
	background-position: -32px -168px;
}
.bzd-flag-ke {
	background-position: -64px -168px;
}
.bzd-flag-kg {
	background-position: -96px -168px;
}
.bzd-flag-kh {
	background-position: -128px -168px;
}
.bzd-flag-ki {
	background-position: -160px -168px;
}
.bzd-flag-km {
	background-position: -192px -168px;
}
.bzd-flag-kn {
	background-position: -224px -168px;
}
.bzd-flag-kp {
	background-position: -256px -168px;
}
.bzd-flag-kr {
	background-position: -288px -168px;
}
.bzd-flag-kw {
	background-position: -320px -168px;
}
.bzd-flag-ky {
	background-position: -352px -168px;
}
.bzd-flag-kz {
	background-position: -384px -168px;
}
.bzd-flag-la {
	background-position: -416px -168px;
}
.bzd-flag-lb {
	background-position: -448px -168px;
}
.bzd-flag-lc {
	background-position: -480px -168px;
}
.bzd-flag-li {
	background-position: -0px -192px;
}
.bzd-flag-lk {
	background-position: -32px -192px;
}
.bzd-flag-lr {
	background-position: -64px -192px;
}
.bzd-flag-ls {
	background-position: -96px -192px;
}
.bzd-flag-lt {
	background-position: -128px -192px;
}
.bzd-flag-lu {
	background-position: -160px -192px;
}
.bzd-flag-lv {
	background-position: -192px -192px;
}
.bzd-flag-ly {
	background-position: -224px -192px;
}
.bzd-flag-ma {
	background-position: -256px -192px;
}
.bzd-flag-mc {
	background-position: -288px -192px;
}
.bzd-flag-md {
	background-position: -320px -192px;
}
.bzd-flag-me {
	background-position: -352px -192px;
}
.bzd-flag-mf {
	background-position: -384px -192px;
}
.bzd-flag-mg {
	background-position: -416px -192px;
}
.bzd-flag-mh {
	background-position: -448px -192px;
}
.bzd-flag-mk {
	background-position: -480px -192px;
}
.bzd-flag-ml {
	background-position: -0px -216px;
}
.bzd-flag-mm {
	background-position: -32px -216px;
}
.bzd-flag-mn {
	background-position: -64px -216px;
}
.bzd-flag-mo {
	background-position: -96px -216px;
}
.bzd-flag-mp {
	background-position: -128px -216px;
}
.bzd-flag-mq {
	background-position: -160px -216px;
}
.bzd-flag-mr {
	background-position: -192px -216px;
}
.bzd-flag-ms {
	background-position: -224px -216px;
}
.bzd-flag-mt {
	background-position: -256px -216px;
}
.bzd-flag-mu {
	background-position: -288px -216px;
}
.bzd-flag-mv {
	background-position: -320px -216px;
}
.bzd-flag-mw {
	background-position: -352px -216px;
}
.bzd-flag-my {
	background-position: -416px -216px;
}
.bzd-flag-mz {
	background-position: -448px -216px;
}
.bzd-flag-na {
	background-position: -480px -216px;
}
.bzd-flag-nc {
	background-position: -0px -240px;
}
.bzd-flag-ne {
	background-position: -32px -240px;
}
.bzd-flag-nf {
	background-position: -64px -240px;
}
.bzd-flag-ng {
	background-position: -96px -240px;
}
.bzd-flag-nl {
	background-position: -160px -240px;
}
.bzd-flag-no {
	background-position: -192px -240px;
}
.bzd-flag-np {
	background-position: -224px -240px;
}
.bzd-flag-nr {
	background-position: -256px -240px;
}
.bzd-flag-nu {
	background-position: -288px -240px;
}
.bzd-flag-nz {
	background-position: -320px -240px;
}
.bzd-flag-om {
	background-position: -352px -240px;
}
.bzd-flag-pa {
	background-position: -384px -240px;
}
.bzd-flag-pe {
	background-position: -416px -240px;
}
.bzd-flag-pf {
	background-position: -448px -240px;
}
.bzd-flag-pg {
	background-position: -480px -240px;
}
.bzd-flag-ph {
	background-position: -0px -264px;
}
.bzd-flag-pk {
	background-position: -32px -264px;
}
.bzd-flag-pl {
	background-position: -64px -264px;
}
.bzd-flag-pm {
	background-position: -96px -264px;
}
.bzd-flag-pn {
	background-position: -128px -264px;
}
.bzd-flag-pr {
	background-position: -160px -264px;
}
.bzd-flag-ps {
	background-position: -192px -264px;
}
.bzd-flag-pt {
	background-position: -224px -264px;
}
.bzd-flag-pw {
	background-position: -256px -264px;
}
.bzd-flag-py {
	background-position: -288px -264px;
}
.bzd-flag-qa {
	background-position: -320px -264px;
}
.bzd-flag-re {
	background-position: -352px -264px;
}
.bzd-flag-ro {
	background-position: -384px -264px;
}
.bzd-flag-rs {
	background-position: -416px -264px;
}
.bzd-flag-ru {
	background-position: -448px -264px;
}
.bzd-flag-rw {
	background-position: -480px -264px;
}
.bzd-flag-sa {
	background-position: -0px -288px;
}
.bzd-flag-sb {
	background-position: -32px -288px;
}
.bzd-flag-sc {
	background-position: -64px -288px;
}
.bzd-flag-sd {
	background-position: -96px -288px;
}
.bzd-flag-se {
	background-position: -128px -288px;
}
.bzd-flag-sg {
	background-position: -160px -288px;
}
.bzd-flag-sh {
	background-position: -192px -288px;
}
.bzd-flag-si {
	background-position: -224px -288px;
}
.bzd-flag-sj {
	background-position: -256px -288px;
}
.bzd-flag-sk {
	background-position: -288px -288px;
}
.bzd-flag-sl {
	background-position: -320px -288px;
}
.bzd-flag-sm {
	background-position: -352px -288px;
}
.bzd-flag-sn {
	background-position: -384px -288px;
}
.bzd-flag-so {
	background-position: -416px -288px;
}
.bzd-flag-sr {
	background-position: -448px -288px;
}
.bzd-flag-ss {
	background-position: -480px -288px;
}
.bzd-flag-st {
	background-position: -0px -312px;
}
.bzd-flag-sv {
	background-position: -32px -312px;
}
.bzd-flag-sx {
	background-position: -64px -312px;
}
.bzd-flag-sy {
	background-position: -96px -312px;
}
.bzd-flag-sz {
	background-position: -128px -312px;
}
.bzd-flag-tc {
	background-position: -160px -312px;
}
.bzd-flag-td {
	background-position: -192px -312px;
}
.bzd-flag-tf {
	background-position: -224px -312px;
}
.bzd-flag-tg {
	background-position: -256px -312px;
}
.bzd-flag-th {
	background-position: -288px -312px;
}
.bzd-flag-tj {
	background-position: -320px -312px;
}
.bzd-flag-tk {
	background-position: -352px -312px;
}
.bzd-flag-tl {
	background-position: -384px -312px;
}
.bzd-flag-tm {
	background-position: -416px -312px;
}
.bzd-flag-tn {
	background-position: -448px -312px;
}
.bzd-flag-to {
	background-position: -480px -312px;
}
.bzd-flag-tr {
	background-position: -0px -336px;
}
.bzd-flag-tt {
	background-position: -32px -336px;
}
.bzd-flag-tv {
	background-position: -64px -336px;
}
.bzd-flag-tw {
	background-position: -96px -336px;
}
.bzd-flag-tz {
	background-position: -128px -336px;
}
.bzd-flag-ua {
	background-position: -160px -336px;
}
.bzd-flag-ug {
	background-position: -192px -336px;
}
.bzd-flag-um {
	background-position: -224px -336px;
}
.bzd-flag-us {
	background-position: -256px -336px;
}
.bzd-flag-uy {
	background-position: -288px -336px;
}
.bzd-flag-uz {
	background-position: -320px -336px;
}
.bzd-flag-va {
	background-position: -352px -336px;
}
.bzd-flag-vc {
	background-position: -384px -336px;
}
.bzd-flag-ve {
	background-position: -416px -336px;
}
.bzd-flag-vi {
	background-position: -480px -336px;
}
.bzd-flag-vn {
	background-position: -0px -360px;
}
.bzd-flag-vu {
	background-position: -32px -360px;
}
.bzd-flag-wf {
	background-position: -64px -360px;
}
.bzd-flag-ws {
	background-position: -96px -360px;
}
.bzd-flag-ye {
	background-position: -128px -360px;
}
.bzd-flag-yt {
	background-position: -160px -360px;
}
.bzd-flag-za {
	background-position: -192px -360px;
}
.bzd-flag-zm {
	background-position: -224px -360px;
}
.bzd-flag-zw {
	background-position: -256px -360px;
}
