*[class^="bzd-icon-"] {
	min-width: 1em;
	min-height: 1em;

	display: inline-block;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	font-style: normal;
	font-variant: normal;

	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	// Make it spin
	&.bzd-icon-spin {
		@keyframes anim-rotate {
			0% {
				transform: rotate(0);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		animation: anim-rotate 2s infinite linear;
	}
}

/// Helper to create and define icons
@mixin defineIcon($imageUrl) {
	--bzd-icon-data: url(#{$imageUrl});
	background-color: currentColor;
	-webkit-mask-image: var(--bzd-icon-data);
	mask-image: var(--bzd-icon-data);
}

// ---- Icon definitions ------------------------------------------------------

$bzdIconNames: [] !default;
@each $name in $bzdIconNames {
	.bzd-icon-#{$name} {
		@include defineIcon("@/nodejs/styles/default/svg/#{$name}.svg");
	}
}
