@use "#bzd/nodejs/styles/default/css/form/config.scss" as base;

.irform-button {
	@extend %actioner-reset;
	@extend %clickable;

	padding: 0 10px !important;

	text-align: center;
	white-space: nowrap;

	&:active {
		transform: translateY(2px);
	}

	&.irform-button-approve {
		color: base.$buttonApproveTextColor;
		background-color: base.$buttonApproveBgColor;
	}

	&.irform-button-cancel {
		color: base.$buttonCancelTextColor;
		background-color: base.$buttonCancelBgColor;
	}

	&.irform-button-danger {
		color: base.$buttonDangerTextColor;
		background-color: base.$buttonDangerBgColor;
	}
}

.irform-width-set {
	.irform-button {
		width: 100%;
	}
}

// Fill
.irform-fill .irform-button,
.irform-button.irform-fill {
	width: 100%;
	height: 100%;
}

// Error
.irform-error .irform-button,
.irform-button.irform-error {
	@extend %error;
	@extend %error-border;
}

// Success
.irform-success .irform-button,
.irform-button.irform-success {
	@extend %success;
	@extend %success-border;
}

// Disable
.irform-disable .irform-button,
.irform-button.irform-disable,
.irform-button:disabled {
	@extend %disable;
	@extend %disable-border;
}
