$switchSize: $fieldHeight * 0.6875; //22

.irform-checkbox {
	@extends %irform-inline;

	input[type=checkbox] {
		opacity: 0;
		width: 0;
		height: 0;

		+ label {
			@extend %reset;
			color: $fieldTextColor;
			position: relative;
			cursor: pointer;

			&:before {
				content: '';
				@include button($fieldHeight, $actionerTextColor, $actionerBgColor);
				@extend %clickable;
				margin-right: #{$fieldPaddingX}px;
			}

			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
		&:checked + label:before {
			content: "\2713";
			font-size: #{$fieldTextHeight * 1.2}px;
			font-weight: bold;
			text-align: center;
			line-height: #{$fieldHeight}px;
		}
		&:focus + label:before {
			@extend %focus;
		}
	}
}

// Disable
.irform-disable.irform-checkbox input[type=checkbox] + label,
.irform-disable .irform-checkbox input[type=checkbox] + label {
	@extend %disable;
	&:before {
		@extend %disable-border;
		@extend %disable;
	}
}

// Error
.irform-error.irform-checkbox input[type=checkbox] + label,
.irform-error .irform-checkbox input[type=checkbox] + label {
	@extend %error;
	&:before {
		@extend %error-border;
	}
}

// Success
.irform-success.irform-checkbox input[type=checkbox] + label,
.irform-success .irform-checkbox input[type=checkbox] + label {
	@extend %success;
	&:before {
		@extend %success-border;
	}
}
