@use "index.scss" as base;
@use "dropdown.scss";

.irform-date {
    display: flex;
    flex-flow: column;
    user-select: none;

    .irform-date-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .irform-date-month {
            flex: 1;
            text-align: center;
        }

        .irform-date-previous {
            @include base.buttonArrow(left, base.$fieldHeight, base.$actionerTextColor, base.$fieldHeight / 2, base.$actionerBgColor, 4);
        }
        .irform-date-next {
            @include base.buttonArrow(right, base.$fieldHeight, base.$actionerTextColor, base.$fieldHeight / 2, base.$actionerBgColor, 4);
        }
    }

    .irform-date-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .irform-date-item {
            text-align: center;
            color: base.$disableTextColor;
            background-color: base.$disableBgColor;
            flex: 1 1 0;

            &.irform-date-item-current {
                color: base.$fieldTextColor;
                background-color: base.$fieldBgColor;

                @extend %clickable;
            }

            &.irform-date-item-header {
                color: base.$actionerTextColor;
                background-color: base.$actionerBgColor;
            }

            &.irform-date-item-selected {
                color: base.$fieldSpecialTextColor;
                background-color: base.$fieldSpecialBgColor;
            }
        }
    }

    .irform-dropdown-menu {
        max-height: none !important;
    }    
}
