@use "index.scss" as base;
@use "bzd/icons.scss" with
	(
		$bzdIconNames: bold italic underline strike_through undo justify_left justify_center justify_right justify indent
			unindent ordered_list unordered_list quote clear_format
	);

.irform-editor {
	width: 100%;

	.irform-editor-toolbar {
		background-color: base.$fieldBgColor;

		.irform-carousel-slides {
			// ---- Toolbar elements ------------------------------------------

			.irform-editor-toolbar-separator {
				background-color: base.$fieldTextColor;
				opacity: 0.5;
				width: 1px;
				height: #{base.$fieldHeight * 0.8}px;
			}

			.irform-editor-toolbar-element {
				@extend %field-reset;
				@extend %clickable;
				background-color: transparent !important;
				line-height: #{base.$toolbarHeight}px;
				min-width: #{base.$toolbarHeight}px;
				height: #{base.$toolbarHeight}px;
				text-align: center;
				color: base.$fieldTextColor;
			}
		}

		.irform-carousel-container {
			border: none !important;
			outline: none !important;
			background-color: transparent !important;

			.irform-carousel-slide {
				opacity: 1;
			}
		}
	}
}

// Disable
.irform-disable .irform-editor-toolbar {
	background-color: base.$disableBgColor !important;
	@extend %disable;

	.irform-carousel-slides {
		.irform-editor-toolbar-separator {
			background-color: base.$disableColor !important;
		}

		.irform-editor-toolbar-element {
			color: base.$disableColor !important;
			@extend %disable;
			@extend %disable-border;
		}
	}
}
