@use "index.scss" as base;
@use "bzd/icons.scss" with (
	$bzdIconNames: upload
);

$borderWidth: 5;
$height: 150;

body.irform-file-drag .irform-array-file {
	* {
		opacity: 0;
	}
	border: #{base.$fieldBorderThickness}px dashed base.$fieldBorderColor;
	position: relative;
	&:before {
		color: base.$fieldBorderColor;
		content: "Drag & drop here";
		position: absolute;
		width: 100%;
		text-align: center;
	}
}

.irform-array-item-draggable {
	.irform-file {
		@extend %draggable;
	}
}

.irform-file {
	@extend %field-reset;

	border: 1px solid base.$fieldBorderColor;

	width: #{$height}px;
	height: #{$height}px;
	position: relative;
	padding: #{$borderWidth}px;
	margin: 2px;
	width: auto;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	&.irform-file-image {
		overflow: hidden;
	}

	&.irform-file-file,
	&.irform-file-upload {
		max-width: #{$height * 2}px;
		svg {
			height: #{$height - $borderWidth * 2 - base.$fieldHeight * 2}px;
			color: base.$disableBgColor;
			stroke: currentColor;
			fill: currentColor;
		}
	}

	&.irform-file-upload {
		.irform-file-progress {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: #{base.$fieldBorderThickness}px;

			.irform-file-progress-bar {
				height: 100%;
				background-color: base.$fieldBorderColor;
			}
		}
	}

	.irform-file-name,
	.irform-file-error {
		width: 100%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: .8em;
	}

	.irform-file-actions {
		position: absolute;
		top: #{$borderWidth + 2}px;
		right: #{$borderWidth + 2}px;

		display: flex;
		flex-flow: row nowrap;

		> * {
			margin-left: 5px;
		}

		.irform-file-zoom-in {
			@include base.button(base.$fieldHeight / 1.5, base.$actionerTextColor, base.$actionerBgColor);
		}

		.irform-file-zoom-out {
			@include base.button(base.$fieldHeight / 1.5, base.$actionerTextColor, base.$actionerBgColor);
		}

		.irform-file-delete {
			@include base.buttonClose(base.$fieldHeight / 1.5, base.$actionerTextColor, base.$fieldHeight / 2.5, base.$actionerBgColor);
		}
	}
}

// Error
.irform-file.irform-error {
	@extend %error;
	@extend %error-border;
}
