*[class^="irform-icon-"] {
	min-width: 1em;
	min-height: 1em;

	display: inline-block;
	vertical-align: text-top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/**
 * Helper to create and define icons
 */
@mixin defineIcon($imageUrl) {
	background-image: url($imageUrl);
	@supports (-webkit-mask-repeat: no-repeat) or (mask-repeat: no-repeat) {
		background-color: currentColor;
		background-image: none !important;
		-webkit-mask-image: url($imageUrl);
		mask-image: url($imageUrl);
	}
}

// ---- Icon definitions ------------------------------------------------------

.irform-icon-file {
	@include defineIcon("~[bzd-style]/css/form/svg/file.svg");
}

.irform-icon-folder {
	@include defineIcon("~[bzd-style]/css/form/svg/folder.svg");
}

.irform-icon-upload {
	@include defineIcon("~[bzd-style]/css/form/svg/upload.svg");
}

.irform-icon-undo {
	@include defineIcon("~[bzd-style]/css/form/svg/undo.svg");
}

.irform-icon-warning {
	@include defineIcon("~[bzd-style]/css/form/svg/warning.svg");
}

.irform-icon-bold {
	@include defineIcon("~[bzd-style]/css/form/svg/bold.svg");
}

.irform-icon-italic {
	@include defineIcon("~[bzd-style]/css/form/svg/italic.svg");
}

.irform-icon-underline {
	@include defineIcon("~[bzd-style]/css/form/svg/underline.svg");
}

.irform-icon-strike {
	@include defineIcon("~[bzd-style]/css/form/svg/strike-through.svg");
}

.irform-icon-justifyleft {
	@include defineIcon("~[bzd-style]/css/form/svg/justify-left.svg");
}

.irform-icon-justifycenter {
	@include defineIcon("~[bzd-style]/css/form/svg/justify-center.svg");
}

.irform-icon-justifyright {
	@include defineIcon("~[bzd-style]/css/form/svg/justify-right.svg");
}

.irform-icon-justify {
	@include defineIcon("~[bzd-style]/css/form/svg/justify.svg");
}

.irform-icon-indent {
	@include defineIcon("~[bzd-style]/css/form/svg/indent.svg");
}

.irform-icon-unindent {
	@include defineIcon("~[bzd-style]/css/form/svg/unindent.svg");
}

.irform-icon-orderedlist {
	@include defineIcon("~[bzd-style]/css/form/svg/ordered-list.svg");
}

.irform-icon-unorderedlist {
	@include defineIcon("~[bzd-style]/css/form/svg/unordered-list.svg");
}

.irform-icon-quote {
	@include defineIcon("~[bzd-style]/css/form/svg/quote.svg");
}

.irform-icon-clearformat {
	@include defineIcon("~[bzd-style]/css/form/svg/clear-format.svg");
}
